.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Set your background color */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* Set your form background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Set your desired form width */
    max-width: 400px; /* Set a maximum width for responsiveness */
  }
  
  label {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #007bff; /* Set your button background color */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #0056b3; /* Set your button hover color */
  }
  